NODE RED CODE.json
[{"id":"25b033c1.ff140c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"b68a53e3.546ef","type":"ui_form","z":"25b033c1.ff140c","name":"","label":"User Details : Please enter Details","group":"8f6ca831.c6f7a8","order":2,"width":0,"height":0,"options":[{"label":"AVG HEART BEATS PER MIN","value":"AVGHEARTBEATSPERMIN","type":"number","required":true,"rows":null},{"label":"PALPITATIONS PER DAY","value":"PALPITATIONSPERDAY","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"CHOLESTEROL","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"AGE","value":"AGE","type":"number","required":true,"rows":null},{"label":"SEX (M/F)","value":"SEX","type":"text","required":true,"rows":null},{"label":"FAMILY HISTORY (Y/N)","value":"FAMILYHISTORY","type":"text","required":true,"rows":null},{"label":"SMOKER LAST 5YRS (Y/N)","value":"SMOKERLAST5YRS","type":"text","required":true,"rows":null},{"label":"EXERCISE MIN PER WEEK","value":"EXERCISEMINPERWEEK","type":"number","required":true,"rows":null}],"formValue":{"AVGHEARTBEATSPERMIN":"","PALPITATIONSPERDAY":"","CHOLESTEROL":"","BMI":"","AGE":"","SEX":"","FAMILYHISTORY":"","SMOKERLAST5YRS":"","EXERCISEMINPERWEEK":""},"payload":"","submit":"Submit","cancel":"Reset","topic":"","x":240,"y":440,"wires":[["f41e4b15.fae888","e8d86f54.afd53"]]},{"id":"f41e4b15.fae888","type":"debug","z":"25b033c1.ff140c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":580,"wires":[]},{"id":"e8d86f54.afd53","type":"function","z":"25b033c1.ff140c","name":"pre-token","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AVGHEARTBEATSPERMIN)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PALPITATIONSPERDAY)\nglobal.set(\"CHOLESTEROL\",msg.payload.CHOLESTEROL)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.AGE)\nglobal.set(\"SEX\",msg.payload.SEX)\nglobal.set(\"FAMILYHISTORY\",msg.payload.FAMILYHISTORY)\nglobal.set(\"SMOKERLAST5YRS\",msg.payload.SMOKERLAST5YRS)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.EXERCISEMINPERWEEK)\nvar apikey=\"6uAKe_DH0OKqvkTR_Y6oIsCf5nR7thrmkbZGLasq-kqA\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"x":600,"y":360,"wires":[["30efb459.224ccc"]]},{"id":"30efb459.224ccc","type":"http request","z":"25b033c1.ff140c","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":752.0000038146973,"y":404.00000286102295,"wires":[["28d9cf18.c7f5e","48ba5c06.e21974"]]},{"id":"28d9cf18.c7f5e","type":"debug","z":"25b033c1.ff140c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":940,"y":460,"wires":[]},{"id":"48ba5c06.e21974","type":"function","z":"25b033c1.ff140c","name":"Pre Prediction","func":"var AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar BMI = global.get(\"BMI\")\nvar AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\":[\"AVGHEARTBEATSPERMIN\",\"PALPITATIONSPERDAY\",\"CHOLESTEROL\",\"BMI\",\"AGE\",\"SEX\",\"FAMILYHISTORY\",\"SMOKERLAST5YRS\",\"EXERCISEMINPERWEEK\"],\"values\":[[AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,BMI,AGE,SEX,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":944.0000076293945,"y":356.0000021457672,"wires":[["3a8f87b9.bcfea8"]]},{"id":"6538ea0b.515984","type":"debug","z":"25b033c1.ff140c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1322.9999914169312,"y":464.00000381469727,"wires":[]},{"id":"1f15a866.0efbb8","type":"inject","z":"25b033c1.ff140c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470,"y":260,"wires":[["e8d86f54.afd53"]]},{"id":"5bdb9444.91fadc","type":"debug","z":"25b033c1.ff140c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1210,"y":220,"wires":[]},{"id":"a7d1a9e.5b8c758","type":"function","z":"25b033c1.ff140c","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":280,"wires":[["5bdb9444.91fadc","ec89297a.7295b8","8496c1fc.f09e7"]]},{"id":"ec89297a.7295b8","type":"ui_text","z":"25b033c1.ff140c","group":"8f6ca831.c6f7a8","order":3,"width":0,"height":0,"name":"","label":"Heart Failure Prediction is (Yes, No):","format":"{{msg.payload}}","layout":"row-left","x":1207.6000366210938,"y":521.2000122070312,"wires":[]},{"id":"3a8f87b9.bcfea8","type":"http request","z":"25b033c1.ff140c","name":"","method":"POST","ret":"obj","paytoqs":true,"url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/95b21ed0-81c7-48fd-bf43-760fb5a50bb7/predictions?version=2020-12-01","tls":"","persist":false,"proxy":"","authType":"","x":1170,"y":380,"wires":[["6538ea0b.515984","a7d1a9e.5b8c758"]]},{"id":"8496c1fc.f09e7","type":"ui_template","z":"25b033c1.ff140c","group":"8f6ca831.c6f7a8","name":"Prediction Results","order":4,"width":0,"height":0,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n    <head>\n\t\t<meta charset=\"utf-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t\t<title>sps-5741-predict-heart-failure-using-IBM-Auto-AI-service</title>\n\t\t<link rel=\"shortcut icon\" href=\"https://image.freepik.com/free-vector/glossy-red-heart-with-white-heartbeat-pulse-blue-molecules-background-medical-concept_1302-5653.jpg\">\n\t\t<link rel=\"stylesheet\" href=\"{{ url_for('static', filename='styles.css') }}\">\n\t\t<script src=\"https://kit.fontawesome.com/5f3f547070.js\" crossorigin=\"anonymous\"></script>\n\t\t\n\t</head>\n<body>\n\t<!-- Result -->\n\t\t<div class=\"results\">\n          <div ng-if=\"msg.payload == 'Y' \">\n            \n            <h1>Prediction: <span class='danger'>You have Heart Failure.</span></h1>\n\t\t\t\t\n\t\t\t\t<div class=\"gyan\">\n\t\t\t\t\t<h3 style=\"color: red;\"></h3>\n\t\t\t\t\t<ul>\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\n\t\t\t\t\t</ul>\t\t\t\t\n\t\t\t\t</div>\n            \n        </div>\n        <div ng-if=\"msg.payload == 'N'  \">\n            \n            <h1>Prediction: <span class='safe'>Great! You DON'T have Heart Disease.</span></h1>\n\t\t\t\t\n       \n        </div>\n        <div ng-if=\"msg.payload == 'Null'  \">\n        \n        \n       \n        </div>\n\n   </div>\n  \n</body>\n</html>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1210,"y":680,"wires":[[]]},{"id":"8f6ca831.c6f7a8","type":"ui_group","z":"","name":"","tab":"c863a4c5.b67148","order":1,"disp":false,"width":10,"collapse":false},{"id":"c863a4c5.b67148","type":"ui_tab","z":"","name":"Heart Failure Prediction","icon":"dashboard","order":1,"disabled":false,"hidden":false}]